.body {
    min-height: 80vh;
}
.body-tittle {
    color: #444;
    margin-top: 0.5em;
    body.dark & {
        color: $white;
    }
}
.cards-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1em;
}
.card {
    background: $bg-card-light;
    word-break: break-all;
    position: relative;
    margin: 1em 0.7em;
    border: 1px solid rgb(194, 193, 193);
    border-radius: 10px;
    width: 265px;
    height: 270px;
    min-width: 265px;
    max-width: 265px;
    max-height: 270px;
    max-height: 270px;
    padding: 0.7em;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas:
        "cardHeader"
        "cardBody"
        "cardFooter";
    transition: 0.5s border;
    @include normal-shadow(0, 4px, 4px, rgba(0, 0, 0, 0.25));
    body.dark & {
        background: $bg-card-dark;
        border: 1px solid #222222;
        @include normal-shadow(0, 4px, 4px, rgba(0, 0, 0, 0.75));
    }
}
.card--none {
    @include card-border($none);
    body.dark & {
        @include card-border($none-dark);
    }
}
.card--normal {
    @include card-border($green);
    body.dark & {
        @include card-border($green-dark);
    }
}
.card--warning {
    @include card-border($yellow);
    body.dark & {
        @include card-border($yellow-dark);
    }
}
.card--danger {
    @include card-border($red);
    body.dark & {
        @include card-border($red-dark);
    }
}
.card .card__tittle {
    grid-area: cardHeader;
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    body.dark & {
        color: white;
    }
}
.card__description {
    grid-area: cardBody;
    font-family: $font-family-body;
    font-size: 0.95rem;
    body.dark & {
        color: $white;
    }
}
.card__actions {
    grid-area: cardFooter;
    display: flex;
    justify-content: space-between;
}
.card__actions--edit,
.card__actions--delete {
    font-size: 1.3em;
}
.card__actions--edit {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: 0.5s background;
    color: $button-light;
    &:hover {
        color: #000;
    }
    body.dark & {
        color: $none;
        &:hover {
            color: $white;
        }
    }
}
.card__actions--delete {
    outline: none;
    border: none;
    color: $button-light;
    background: transparent;
    transition: 0.5s background;
    cursor: pointer;
    &:hover {
        color: $red;
    }
    body.dark & {
        color: $none;
        &:hover {
            color: $white;
        }
    }
}
.form {
    display: inline-block;
}

.newtask {
    background: $body-bg;
    border: 1px solid rgb(212, 211, 211);
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    height: 325px;
    min-height: 325px;
    max-height: 325px;
    position: fixed;
    right: calc((270px + 20px + 1em) * -1);
    bottom: 110px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1em;
    transition: 0.3s right;
    //shadow
    box-shadow: 0 4px 4px #00000075;
    &.active-taskform {
        right: 20px;
        bottom: 110px;
    }
    body.dark & {
        background: $bg-card-dark;
        border: 1px solid #fff;
    }
}
.newtask__tittle {
    border-radius: 5px;
    padding: 0.3em 0;
    //background: blue;
    font-weight: bold;
    text-align: center;
    color: $blue;
    text-shadow: 0 2px 2px rgb(112, 112, 204);
    display: block;
    body.dark & {
        color: $orange;
        text-shadow: 0 2px 2px #000;
    }
}
.newtask__form {
    margin-top: 0.5em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.newtask__form-description {
    resize: none;
}
.input {
    border: 1px solid #444;
    outline: none;
}
.input {
    padding: 0.2em;
    border-radius: 3px;
}
.taskform-submit {
    outline: none;
    border: none;
    background: rgb(15, 128, 15);
    color: white;
    padding: 0.5em 0;
    cursor: pointer;
    font-family: $font-family-tittle;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    body.dark & {
        background: $green;
    }
}

.btn-add {
    color: white;
    background: $navbar-color;
    transition: 0.5s background;
    height: 75px;
    width: 75px;
    border-radius: 37.5px;
    position: fixed;
    bottom: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    right: 3em;
    i {
        font-size: 2rem;
    }
    body.dark & {
        background: $orange;
        box-shadow: 0 4px 4px rgb(0, 0, 0, 0.75);
    }
}
.btn-add:active,
.btn-add:focus {
    outline: none;
}
.btn-add:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 6px rgb(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.75);
}

.icon,
.icon-two {
    position: relative;
}
.icon::after {
    content: "Eliminar";
    font-size: 0.8rem;
    margin-left: 0.5em;
    padding: 0.3em;
    border-radius: 5px;
    font-family: $font-family-tittle;
}

.icon--trash:hover::after {
    background: #f8d7da;
    color: $red;
}
.icon--edit::after {
    content: "Editar";
}
.icon--edit:hover::after {
    background: #cce5ff;
    color: #004085;
}
.icon--restore::after {
    content: "Restaurar";
}
.icon--restore:hover::after {
    background: #cce5ff;
    color: #004085;
}
.empty-recicle-message {
    margin-top: 2em;
    text-align: center;
    color: #888;
}
