*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family-tittle;
}
main {
  //padding-top: 14vh;
  position: relative;
  @include wrapper(14vh, 4em);
}
