/* login-register */
.container {
    margin: 100px auto;
    position: relative;
    width: 750px;
}

.container,
form:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

#content {
    background-color: #f8f8f8;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    width: 500px;
}

#content:after,
#content:before {
    background-color: #f8f8f8;
    border: 1px solid #c4c6ca;
    content: ".";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
#content:after {
    transform: rotate(9deg);
    top: 0;
    z-index: -1;
}
#content:before {
    transform: rotate(-16deg);
    top: 0;
    z-index: -2;
}
#content h1 {
    margin: 10px 0 30px 0;
}
#content form {
    margin: 0 20px;
    position: relative;
}

#content form input[type="text"],
#content form input[type="email"],
#content form input[type="password"] {
    background: #eae7e7;
    border: 1px solid #c8c8c8;
    margin: 0 0 20px;
    padding: 20px 20px 20px 40px;
    width: 80%;
    height: 40px;
    border: 1px solid black;
}

#content form input[type="submit"] {
    background: #c4c2c2;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    cursor: pointer;
    float: center;
    height: 35px;
    margin: 20px 0 35px 15px;
    position: relative;
    width: 120px;
}
#content form input[type="submit"]:hover {
    opacity: 0.8;
    outline: none;
    border: 1px solid black;
}
#content form div a {
    color: #004a80;
    float: right;
    font-size: 12px;
    margin: 0px 20px 15px 70px;
    text-decoration: underline;
}

.titulo-principal {
    background-color: #f8f8f8;
    border: 1px solid #c4c6ca;
    margin: 0%;
    padding: 0%;
    text-align: center;
    top: 40%;
    left: 10%;
    position: absolute;
    color: black;
    border: 1px solid black;
    clear: both;
}
