*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8fafc;
  transition: 0.5s background;
  min-width: 100vh;
  font-family: "Karla", sans-serif;
}
body.dark {
  background: #303030;
}

main {
  position: relative;
  padding: 14vh 4em 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 9;
}
body.dark header {
  box-shadow: 0px 4px 4px black;
}

.navbar {
  background: #1b6ca8;
  width: 100%;
  height: 9vh;
  display: flex;
  padding: 0.5em;
  justify-content: space-between;
  align-items: center;
}
body.dark .navbar {
  background: #000;
}

.left-section {
  padding: 0.3em;
  margin-left: 3em;
}

.left-section__link {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
}

.rigth-section {
  padding: 0.3em;
  margin-right: 3em;
}

.list-item {
  list-style: none;
  display: inline-block;
  padding: 0.2em 0.7em;
}

.list-link {
  text-decoration: none;
  font-size: 1.05rem;
  color: #aacfdd;
  cursor: pointer;
}
.list-link:hover {
  text-decoration: underline;
  color: #fff;
}

.list-link--name {
  text-transform: uppercase;
}

.options {
  height: 5vh;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  list-style: none;
}

.options__item--home {
  margin-left: 4em;
  margin-right: 1em;
}

.options__link {
  text-decoration: none;
  font-size: 1rem;
  color: #666;
  cursor: pointer;
}
.options__link:hover {
  color: #222;
  text-decoration: underline;
}

.options__link--red {
  text-decoration: none;
  font-size: 1rem;
  color: #ca5f5b;
  cursor: pointer;
}
.options__link--red:hover {
  color: #e3342f;
}

.options__recicle {
  border: none;
  color: #e3342f;
  cursor: pointer;
}
.options__recicle:hover {
  text-decoration: underline;
}

.darkmode {
  margin-right: 4em;
}

.txt-noauth {
  margin-left: 4em;
  display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.8rem;
  height: 1.8rem;
  margin-right: 2em;
}

.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;
  transition: background 0.2s;
  cursor: pointer;
  background: #00f260;
  background: -webkit-linear-gradient(to right, #0575e6, #00f260);
  background: linear-gradient(to right, #0575e6, #00f260);
}
body.dark .switch__slider {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.switch__slider::before {
  content: "";
  position: absolute;
  left: 0.2em;
  top: 50%;
  transform: translateY(-50%);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  background: #fff;
  transition: transform 0.2s;
}

.switch__input:checked + .switch__slider::before {
  transform: translate(1.8rem, -50%);
}

.body {
  min-height: 80vh;
}

.body-tittle {
  color: #444;
  margin-top: 0.5em;
}
body.dark .body-tittle {
  color: #fff;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.card {
  background: #fff;
  word-break: break-all;
  position: relative;
  margin: 1em 0.7em;
  border: 1px solid #c2c1c1;
  border-radius: 10px;
  width: 20vw;
  height: 40vh;
  max-width: 20vw;
  max-height: 45vh;
  padding: 0.7em;
  display: grid;
  grid-template-rows: 20% 70% 10%;
  grid-template-areas: "cardHeader" "cardBody" "cardFooter";
  transition: 0.5s border;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
body.dark .card {
  background: #525050;
  border: 1px solid #222222;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

.card--none {
  border-top: 10px solid #888;
}
body.dark .card--none {
  border-top: 10px solid #ececec;
}

.card--normal {
  border-top: 10px solid #38c172;
}
body.dark .card--normal {
  border-top: 10px solid #00ff6a;
}

.card--warning {
  border-top: 10px solid #ffed4a;
}
body.dark .card--warning {
  border-top: 10px solid #ffe600;
}

.card--danger {
  border-top: 10px solid #e3342f;
}
body.dark .card--danger {
  border-top: 10px solid #ff0800;
}

.card .card__tittle {
  grid-area: cardHeader;
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
}
body.dark .card .card__tittle {
  color: white;
}

.card__description {
  grid-area: cardBody;
  font-family: "Lato", sans-serif;
  font-size: 0.95rem;
}
body.dark .card__description {
  color: #fff;
}

.card__actions {
  grid-area: cardFooter;
  display: flex;
  justify-content: space-between;
}

.card__actions--edit,
.card__actions--delete {
  font-size: 1.3em;
}

.card__actions--edit {
  outline: none;
  border: none;
  cursor: pointer;
  background: #fff;
  transition: 0.5s background;
  color: #444;
}
.card__actions--edit:hover {
  color: #000;
}
body.dark .card__actions--edit {
  background: #525050;
  color: #888;
}
body.dark .card__actions--edit:hover {
  color: #fff;
}

.card__actions--delete {
  outline: none;
  border: none;
  color: #444;
  background: #fff;
  transition: 0.5s background;
  cursor: pointer;
}
.card__actions--delete:hover {
  color: #e3342f;
}
body.dark .card__actions--delete {
  background: #525050;
  color: #888;
}
body.dark .card__actions--delete:hover {
  color: #fff;
}

.form {
  display: inline-block;
}

.newtask {
  background: #f8fafc;
  border: 1px solid #d4d3d3;
  width: 20vw;
  height: 50vh;
  position: fixed;
  right: calc((20vw + 20px + 1em) * -1);
  bottom: 110px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1em;
  transition: 0.3s right;
  box-shadow: 0 4px 4px #00000075;
}
.newtask.active-taskform {
  right: 20px;
  bottom: 110px;
}
body.dark .newtask {
  background: #525050;
  border: 1px solid #fff;
}

.newtask__tittle {
  border-radius: 5px;
  padding: 0.3em 0;
  font-weight: bold;
  text-align: center;
  color: #3490dc;
  text-shadow: 0 2px 2px #7070cc;
  display: block;
}
body.dark .newtask__tittle {
  color: white;
  text-shadow: 0 2px 2px #000;
}

.newtask__form {
  margin-top: 0.5em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.newtask__form-description {
  resize: none;
}

.input {
  border: none;
  outline: none;
}

.input {
  padding: 0.2em;
  border-radius: 3px;
}

.taskform-submit {
  outline: none;
  border: none;
  background: #0f800f;
  color: white;
  padding: 0.5em 0;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 700;
}
body.dark .taskform-submit {
  background: #38c172;
}

.btn-add {
  color: white;
  background: #1b6ca8;
  transition: 0.5s background;
  height: 75px;
  width: 75px;
  border-radius: 37.5px;
  position: fixed;
  bottom: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  right: 3em;
}
.btn-add i {
  font-size: 2rem;
}
body.dark .btn-add {
  background: #f6993f;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

.btn-add:active,
.btn-add:focus {
  outline: none;
}

.btn-add:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

.icon,
.icon-two {
  position: relative;
}

.icon::after {
  content: "Eliminar";
  font-size: 0.8rem;
  margin-left: 0.5em;
  padding: 0.3em;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
}

.icon--trash:hover::after {
  background: #f8d7da;
  color: #e3342f;
}

.icon--edit::after {
  content: "Editar";
}

.icon--edit:hover::after {
  background: #cce5ff;
  color: #004085;
}

.icon--restore::after {
  content: "Restaurar";
}

.icon--restore:hover::after {
  background: #cce5ff;
  color: #004085;
}

.empty-recicle-message {
  margin-top: 2em;
  text-align: center;
  color: #888;
}

.validation {
  display: block;
}

.validation__list {
  list-style: none;
}

.validation__list-item {
  background: #f8d7da;
  padding: 0.5em;
  border: #e3342f;
  color: #e3342f;
  margin-top: 0.3em;
  border-radius: 10px;
}

.alert {
  margin-top: 0.3em;
  display: block;
  border-radius: 10px;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert__text {
  padding: 0.5em;
  color: #856404;
}

/*# sourceMappingURL=app.css.map */
