.btn-add {
    color: white;
    background: blue;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    right: 50px;
}
.btn-add:active,
.btn-add:focus {
    outline: none;
}
.btn-add:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 6px rgb(0, 0, 0, 0.5);
}
